/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #FF4081, #9c27b0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #e91e63, #9c27b0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

#level-selector {
    margin-left: 10px;
    font-size: 1rem;
}

/* Game container */
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e434e4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

button {
    background-color: #FF4081;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

button:hover {
    background-color: #E91E63;
}

#score-board {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#back-button {
    background-color: #E91E63;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #45a049;
}

/* Responsiveness */
@media (max-width: 768px) {
    #game-board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }
    
    .cell {
        width: 80px;
        height: 80px;
    }
}
